@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #4d4d4d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  background: url(image/grid.svg);
}

.header {
  width: 100%;
  height: 100px;
  background: -moz-linear-gradient(left, #cc32e0 0%, #fd5d8f 50%);
  background: -webkit-linear-gradient(left, #cc32e0 0%,#fd5d8f 50%);
  background: linear-gradient(to right, #cc32e0 0%,#fd5d8f 50%);
}

.topH1 {
  color: #FFF;
  text-align: center;
  margin: 0;
  font-size: 4.6rem;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  padding-top: 14px;
  font-weight: 500;
}

.topH1 .material-icons-outlined {
  font-size: 5.6rem;
  vertical-align: middle;
}

.subH1 {
  font-size: 3rem;
  padding-left: 6px;
}

.main {
  width: 900px;
  margin: 0 auto;
  padding: 40px 10px 80px 10px;
}

.intro {
  width: 100%;
  padding: 24px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.subH2 {
  font-size: 2.4rem;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.subH2 span {
  display: block;
  width: 46px;
  height: 2px;
  background: #AFAAAA;
  margin: 10px auto 30px auto;
}

/*---------- form ----------*/
#qrForm {
  margin: 72px 0 60px 0;
}

.formGroup {
  margin-bottom: 50px;
}

.groupNum span {
  display: inline-block;
  width: 60px;
  line-height: 60px;
  background: #F4AFDC;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 2.4rem;
  border-radius: 100px;
  margin-right: 6px;
}

.qrImg {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}

.qrBox {
  display: block;
  text-align: center;
}

.sizeImg {
  display: block;
  border: solid 1px #AFAAAA;
}

.qrSize {
  margin-right: 6px;
  display: inline-block;
  margin-top: 10px;
}

.custam {
  border-top: solid 1px #AFAAAA;
  padding-top: 10px;
}

.inputText {
  display: block;
  width: 800px;
  height: 36px;
  font-size: 1.6rem;
  color: #4d4d4d;
  margin: 0 auto;
  border: solid 1px #AFAAAA;
  border-radius: 4px;
}

.allSize {
  padding-left: 45px;
}
.allSize input {
  display: inline-block;
  width: 80px;
  height: 36px;
  font-size: 1.6rem;
  color: #4d4d4d;
  border: solid 1px #AFAAAA;
  border-radius: 4px;
  margin: 0 6px;
  text-align: center;
}

.qrMold {
  padding-left: 100px;
}

/*---------- submitボタン ----------*/
#submibtn {
  display: block;
  width: 280px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background:#fd5d8f url(image/qr_icon.svg) 94% center no-repeat;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.5s;
}

#submibtn:hover {
  background:#E84CAC url(image/qr_icon.svg) 94% center no-repeat;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
}

/*---------- DLボタン ----------*/
#dlBtn {
  display: block;
  width: 280px;
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background:#0093E9 url(image/file_download_black_24dp.svg) 94% center no-repeat;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: 0.5s;
  text-decoration: none;
}

#dlBtn:hover {
  background: #80D0C7 url(image/file_download_black_24dp.svg) 94% center no-repeat;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0);
}

#qr_panel {
  width: 500px;
  height: 320px;
  background: #FADAEF;
  margin: 0 auto 60px auto;
  box-shadow:0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

#qr_panel p {
  line-height: 320px;
  text-align: center;
  font-size: 2rem;
  color: #AFAAAA;
}

.infoBox {
  margin: 30px auto 0 auto;
  width: 80%;
  border: solid 1px #4d4d4d;
  padding: 24px;
  border-radius: 4px;
}

.infoBoxH3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

/*---------- footer ----------*/
.footer {
  width: 100%;
  background: -moz-linear-gradient(left, #cc32e0 0%, #fd5d8f 50%);
  background: -webkit-linear-gradient(left, #cc32e0 0%,#fd5d8f 50%);
  background: linear-gradient(to right, #cc32e0 0%,#fd5d8f 50%);
}

.footerImg {
  display: block;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 40px;
}

.footer small {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  color: #fff;
  font-size: 1.2rem;
}

/*---------- 共通 ----------*/
.smallText {
  font-size: 1.2rem;
}
.center {
  text-align: center;
}
.mb20 {
  margin-bottom: 20px;
}
